## this for kaggle titanic challenge

In [275]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.metrics import accuracy_score, classification_report , mean_absolute_error , r2_score

In [276]:
trainMain = pd.read_csv("./train.csv" )
dfTest = pd.read_csv('test.csv' )

In [277]:
trainMain

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [309]:
trainMainAfterRemove=trainMain.drop( columns=['PassengerId', 'Name' , 'Ticket' ,'Cabin','Embarked'])
dfTestAfterRemove=dfTest.drop( columns=['PassengerId','Name' , 'Ticket' ,'Cabin','Embarked'])
kaggleResult = pd.DataFrame(dfTest['PassengerId'])

In [310]:
kaggleResult

     PassengerId
0            892
1            893
2            894
3            895
4            896
..           ...
413         1305
414         1306
415         1307
416         1308
417         1309

[418 rows x 1 columns]

### add encoding data

In [311]:
encoder = LabelEncoder()

In [312]:
encoder = encoder.fit(trainMainAfterRemove['Sex'])

In [313]:
trainMainAfterRemove['Sex'] = encoder.transform(trainMainAfterRemove['Sex'])
dfTestAfterRemove['Sex'] = encoder.transform(dfTestAfterRemove['Sex'])

In [314]:
encoder.classes_

array(['female', 'male'], dtype=object)

In [315]:
trainMainAfterRemove.describe

<bound method NDFrame.describe of      Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0           0       3    1  22.0      1      0   7.2500
1           1       1    0  38.0      1      0  71.2833
2           1       3    0  26.0      0      0   7.9250
3           1       1    0  35.0      1      0  53.1000
4           0       3    1  35.0      0      0   8.0500
..        ...     ...  ...   ...    ...    ...      ...
886         0       2    1  27.0      0      0  13.0000
887         1       1    0  19.0      0      0  30.0000
888         0       3    0   NaN      1      2  23.4500
889         1       1    1  26.0      0      0  30.0000
890         0       3    1  32.0      0      0   7.7500

[891 rows x 7 columns]>

In [316]:
trainMainAfterRemove.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int64(5)
memory usage: 48.9 KB

In [317]:
dfTestAfterRemove.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  418 non-null    int64
 1   Sex     418 non-null    int64
 2   Age     332 non-null    float64
 3   SibSp   418 non-null    int64
 4   Parch   418 non-null    int64
 5   Fare    417 non-null    float64
dtypes: float64(2), int64(4)
memory usage: 19.7 KB

In [318]:
# Check which columns contain any NaN values
nan_columns = trainMainAfterRemove.isnull().any()
nan_count = trainMainAfterRemove.isnull().sum()

print(f'nan column  : \n{nan_columns}')
print(f'count nan in column : \n{nan_count}')

nan_columns_test = dfTestAfterRemove.isnull().any()
nan_count_test = dfTestAfterRemove.isnull().sum()
print("---------------------------------")
print(f'nan column test  : \n{nan_columns}')
print(f'count nan in column test : \n{nan_count}')

nan column  :
Survived    False
Pclass      False
Sex         False
Age          True
SibSp       False
Parch       False
Fare        False
dtype: bool
count nan in column :
Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
dtype: int64
---------------------------------
nan column test  :
Survived    False
Pclass      False
Sex         False
Age          True
SibSp       False
Parch       False
Fare        False
dtype: bool
count nan in column test :
Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
dtype: int64

In [319]:
dfTestAfterRemove.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  418 non-null    int64
 1   Sex     418 non-null    int64
 2   Age     332 non-null    float64
 3   SibSp   418 non-null    int64
 4   Parch   418 non-null    int64
 5   Fare    417 non-null    float64
dtypes: float64(2), int64(4)
memory usage: 19.7 KB

### Fill with mean of age nan record from df

In [320]:
trainMainAfterRemove['Age'].fillna(trainMainAfterRemove['Age'].mean(), inplace=True)
dfTestAfterRemove['Age'].fillna(dfTestAfterRemove['Age'].mean(), inplace=True)

# Check again which columns contain any NaN values
nan_columns = trainMainAfterRemove.isnull().any()
nan_count = trainMainAfterRemove.isnull().sum()

print(f'nan column  : \n{nan_columns}')
print(f'count nan in column : \n{nan_count}')

nan_columns_test = dfTestAfterRemove.isnull().any()
dfTestAfterRemove['Fare'].fillna(dfTestAfterRemove['Fare'].mean(), inplace=True)
nan_count_test = dfTestAfterRemove.isnull().sum()

print("---------------------------------")
print(f'nan column test  : \n{nan_columns_test}')
print(f'count nan in column test : \n{nan_count_test}')

nan column  :
Survived    False
Pclass      False
Sex         False
Age         False
SibSp       False
Parch       False
Fare        False
dtype: bool
count nan in column :
Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
dtype: int64
---------------------------------
nan column test  :
Pclass    False
Sex       False
Age       False
SibSp     False
Parch     False
Fare       True
dtype: bool
count nan in column test :
Pclass    0
Sex       0
Age       0
SibSp     0
Parch     0
Fare      0
dtype: int64

/tmp/ipykernel_6331/3466904404.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  trainMainAfterRemove['Age'].fillna(trainMainAfterRemove['Age'].mean(), inplace=True)
/tmp/ipykernel_6331/3466904404.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfTestAfterRemove['Age'].fillna(dfTestAfterRemove['Age'].mean(), inplace=True)
/tmp/ipykernel_6331/3466904404.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfTestAfterRemove['Fare'].fillna(dfTestAfterRemove['Fare'].mean(), inplace=True)

### Scaling numerical data Fare and Age

In [321]:
scaler = MinMaxScaler()

In [322]:
scaler = scaler.fit(trainMainAfterRemove[['Fare','Age']])

In [323]:
trainMainAfterRemove[['Fare' , 'Age']] = scaler.transform(trainMainAfterRemove[['Fare','Age']])
dfTestAfterRemove[['Fare' , 'Age']] = scaler.transform(dfTestAfterRemove[['Fare','Age']])

In [324]:
dfTestAfterRemove.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  418 non-null    int64
 1   Sex     418 non-null    int64
 2   Age     418 non-null    float64
 3   SibSp   418 non-null    int64
 4   Parch   418 non-null    int64
 5   Fare    418 non-null    float64
dtypes: float64(2), int64(4)
memory usage: 19.7 KB

## make split feature and target

In [325]:
# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [326]:
print("Training features:\n", X_train)
print("Testing features:\n", X_test)
print("Training target:\n", y_train)
print("Testing target:\n", y_test)

Training features:
              Pclass  Sex       Age  SibSp  Parch      Fare
PassengerId
332               1    1  0.001841      0      0  0.000109
734               2    1 -0.001712      0      0  0.000050
383               3    1 -0.000291      0      0  0.000030
705               3    1 -0.001239      1      0  0.000030
814               3    0 -0.004397      4      2  0.000119
...             ...  ...       ...    ...    ...       ...
107               3    0 -0.002028      0      0  0.000029
271               1    1 -0.000654      0      0  0.000118
861               3    1  0.001130      2      0  0.000054
436               1    0 -0.003133      1      2  0.000457
103               1    1 -0.002028      0      1  0.000294

[712 rows x 6 columns]
Testing features:
              Pclass  Sex       Age  SibSp  Parch      Fare
PassengerId
710               3    1 -0.000654      1      1  0.000058
440               2    1 -0.000449      0      0  0.000040
841               3    1 -0.002186      0      0  0.000030
721               2    0 -0.004397      0      1  0.000126
40                3    0 -0.003133      1      0  0.000043
...             ...  ...       ...    ...    ...       ...
434               3    1 -0.002660      0      0  0.000027
774               3    1 -0.000654      0      0  0.000028
26                3    0  0.000656      1      5  0.000120
85                2    0 -0.002660      0      0  0.000040
11                3    0 -0.004712      1      1  0.000064

[179 rows x 6 columns]
Training target:
 PassengerId
332    0
734    0
383    0
705    0
814    0
      ..
107    1
271    0
861    0
436    1
103    0
Name: Survived, Length: 712, dtype: int64
Testing target:
 PassengerId
710    1
440    0
841    0
721    1
40     1
      ..
434    0
774    0
26     1
85     1
11     1
Name: Survived, Length: 179, dtype: int64

In [327]:
# Initialize and train the Logistic Regression model
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

# Test model with sample record

In [328]:
X_test

             Pclass  Sex       Age  SibSp  Parch      Fare
PassengerId
710               3    1 -0.000654      1      1  0.000058
440               2    1 -0.000449      0      0  0.000040
841               3    1 -0.002186      0      0  0.000030
721               2    0 -0.004397      0      1  0.000126
40                3    0 -0.003133      1      0  0.000043
...             ...  ...       ...    ...    ...       ...
434               3    1 -0.002660      0      0  0.000027
774               3    1 -0.000654      0      0  0.000028
26                3    0  0.000656      1      5  0.000120
85                2    0 -0.002660      0      0  0.000040
11                3    0 -0.004712      1      1  0.000064

[179 rows x 6 columns]

In [329]:
X_test[:1]

             Pclass  Sex       Age  SibSp  Parch      Fare
PassengerId
710               3    1 -0.000654      1      1  0.000058

In [330]:
model.coef_

array([[-8.62415280e-01, -2.62484442e+00, -1.20203628e-02,
        -2.29571261e-01, -4.77870334e-02,  1.84907852e-03]])

In [331]:
testCleaned

             Pclass  Sex       Age  SibSp  Parch      Fare
PassengerId
892               3    1  0.428248      0      0  0.015282
893               3    0  0.585323      1      0  0.013663
894               2    1  0.773813      0      0  0.018909
895               3    1  0.334004      0      0  0.016908
896               3    0  0.271174      1      1  0.023984
...             ...  ...       ...    ...    ...       ...
1305              3    1  0.375127      0      0  0.015713
1306              1    0  0.484795      0      0  0.212559
1307              3    1  0.478512      0      0  0.014151
1308              3    1  0.375127      0      0  0.015713
1309              3    1  0.375127      1      1  0.043640

[417 rows x 6 columns]

In [332]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 179 entries, 710 to 11
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  179 non-null    int64
 1   Sex     179 non-null    int64
 2   Age     179 non-null    float64
 3   SibSp   179 non-null    int64
 4   Parch   179 non-null    int64
 5   Fare    179 non-null    float64
dtypes: float64(2), int64(4)
memory usage: 9.8 KB

In [333]:

# Make predictions on the test set
y_test_pred = model.predict(X_test)
y_train_pred = model.predict(X_train)

In [ ]:
# Export DataFrame to CSV output
df.to_csv('output.csv', index=False)

In [223]:
# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

# Optional: Detailed classification report
report = classification_report(y_test, y_pred)
print("Classification Report:\n", report)

Accuracy: 0.79
Classification Report:
               precision    recall  f1-score   support

           0       0.80      0.86      0.83       105
           1       0.77      0.69      0.73        74

    accuracy                           0.79       179
   macro avg       0.78      0.77      0.78       179
weighted avg       0.79      0.79      0.79       179

In [224]:
#check score train and test 

scoreTest = model.score(X_test , y_test)
print(f'score test : {scoreTest} \n')
scoreTrain  = model.score(X_train , y_train)
print(f'score train : {scoreTrain}')

score test : 0.7932960893854749

score train : 0.8019662921348315

In [225]:
mseTrain = mean_absolute_error(y_train , y_train_pred) 
print(f'mseTrain : {mseTrain}')
mseTest = mean_absolute_error(y_test , y_test_pred)
print(f'mseTest : {mseTest}')

mseTrain : 0.19803370786516855
mseTest : 0.20670391061452514

In [340]:
pred_file = model.predict(dfTestAfterRemove)
kaggleResult['Survived'] = pred_file
kaggleResult.to_csv('output.csv', index=False)

In [341]:
!pwd

/home/kiarashshamaei/Documents/dataScience/kaggle/ds-titanic-dataset-kaggl

In [ ]:
!git commit -m